body {
  background-color: #CCCC81;
  margin: 25px;
}

h2 {
  font-family: Helvetica, sans-serif;
  text-align: left;
  letter-spacing: 1px;
  margin-bottom: 3px;
}

#child {
  border: 3px #006400 dotted;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-style: italic;
  text-align: left;
  max-width: 200px;
  font-size: 12px;
  border-radius: 5px;
  font-family: helvetica, sans-serif;
  margin-bottom: 3px;
}

#adult {
  font-style: italic;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  border: 3px #006400 solid;
  border-radius: 10px;
  max-width: 200px;
  font-family: helvetica, sans-serif;;
  font-size: 12px;
  margin-bottom: 3px;
}

#questionList {
  text-align: left;
  font-size: 15px;
  margin-bottom: 1px;
}

.section {
  font-size: 18px;
  letter-spacing: 5px;
  text-align: left;
  font-weight: bold;
}

.careful {
  font-size: 13px;
  text-align: left;
  font-style: italic;
}
